:root {
  /* color */
  --color-title:  #fed330;
  --color-white: #ffffff;
  --color-blue: #0984e3;
  --color-yellow: #ffeaa7;
  --color-pink: #fd79a8;
  --color-shadow: #a29bfe;

  /* size */
  --base-size: 8px;
  --border-radius: 4px;
  --image-button-size: 50px;
  --font-button-size: 18px;
}

body {
  background-color: #4b6584;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--color-title);
  text-align: center;
}

.logo {
  cursor: pointer;
}

.tags {
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  justify-content: center;
}

.tagsUl {
  /* border:1px solid yellow; */
  padding: 5px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 4px;
}

.btn:hover {
  transform: scale(1.1);
}

.imgbtn {
  width: var(--image-button-size)
}

.colorbtn {
  font-size: var(--font-button-size);
  border-radius: var(--border-radius);
  width: 60px;
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.colorOfItem {
  /* border: 1px solid white; */
  border-radius: var(--border-radius);
  display: flex;
  width:70px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.contents {
  /* border: 1px solid yellow; */
  width: 600px;
  height:800px;
  display: flex;
}

.contentUl {
  /* border: 1px solid red; */
  padding: 0 20px 0 20px;
  list-style: none;
  width: 100%;
  height: 60%;
  overflow-y: scroll;
}

.contentList {
  /* border: 1px solid red; */
  border-radius: var(--border-radius);
  padding: 10px 0 10px 40px;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 4px;
}

.contentList:hover {
  margin-left: 10px;
}

.contentList img {
  width:30px;
}

.contentList span {
  margin-left:40px;
}